.sprite li{
  position: relative;

  &:before{
    content: "";
    position: absolute;
    display: block;
    width: 128px;
    height: 128px;
    top: 0;
    left: 46px;
    background: transparent url("../images/icons.png") no-repeat 0 0;

    @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2){
      background-image: url("../images/icons-2x.png");
      background-size: 128px 542px;    
    }
  }

  &.partly-cloudy:before{background-position: 0 -138px;}
  &.rain:before{background-position: 0 -284px;}
  &.night:before{background-position: 0 -414px;}

}
