ul{
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

li{
  display: inline-block;
  width: 220px;
  height: 40px;
  padding: 130px 0 80px 0;
  color: $primary-color;
}

.backgrounds li{
  
}